{% extends "notas/base.html" %}
{% block title %}Import foods{% endblock %}
{% block content %}


<div class="page">
  <h2>Import foods from Excel</h2>

  <p>
  Upload an Excel file (.xlsx) with columns:
  <strong>name, protein, carbs, fat, portion_unit (g o ml)</strong>. Los nutrientes corresponden a 100 unidades de la unidad elegida.
  </p>
  <p>
      <a href="{% url 'download_food_template' %}">
        ⬇ Download Excel template
      </a>
  </p>  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" accept=".xlsx" required>
    <br><br>
    <button type="submit">Import foods</button>
  </form>
</div>
{% endblock %}
