<div data-page="meal-detail" class="main-detail">
 
    <div class="card-title main">
        {% include "components/card_main_title.html" with titulo=main_card.titulo %}
    </div>  
    
    <!-- KPI ========================================= -->
    <div class="page-kpi">
        
        <h3>Información Nutricional</h3>
    
        <!-- KPI ======================== -->
        <div class="card-kpi main">
            {% include "components/dash_kpi.html" with kpis=main_card.kpis %}
        </div>
    
    </div>

    <!-- MEALS TABLE ========================================= -->
    
    <div class="detail-section">
        <h3>Alimentos en esta Comida</h3>
    
        {% with panel_id=main_card.main_id|default:"main-meal" %}
            <div class="card-detail-block main">
                {% include "components/detail_tabs_foods_main_detail.html" with panel_id=panel_id %}
                {% include "components/detail_panels_foods.html" with panel_id=panel_id foods=main_card.foods_aggregation items=main_card.table.items nutrition_grid_template="components/grid_foods.html" %}
            </div>
        {% endwith %}
    </div>


    <!-- METADATA ========================================= -->
    <div class="card-bottom main">
        <h3>Creador de esta comida</h3>
        <div class="card-metadata">
            {% include "components//card_child_metadata.html" with metadata=main_card.metadata %}
        </div>
    </div>


</div>
  