<div data-page="dailyplan-detail" class="main-detail">
 
    <div class="card-title main">
        {% include "components/card_main_title_edit_dailyplan.html" with titulo=main_card.titulo main_id=main_card.main_id%}
    </div>  
    

    <!-- KPI ========================================= -->
    {% if main_card.show_kpis %}
    <div class="page-kpi">
        <h3>Información Nutricional</h3>
        <div class="card-kpi main">
            {% include "components/dash_kpi.html" with kpis=main_card.kpis %}
        </div>
    </div>
    {% endif %}
    
    <!-- COMIDAS EN PLAN ========================================= -->
    <div class="detail-section dailyplan">
        <div class="title-section-panels">
            <h3>Tabla de comparación entre comidas</h3>
            <div
                class="add-title js-picker-toggle"
                role="button"
                tabindex="0"
                aria-expanded="false"
                aria-controls="dailyplan-picker-section"
            >
                <i data-lucide="plus" class="add-row-icon"></i>
                <i data-lucide="utensils" class="add-row-icon"></i>
                <h4 id="meal-form-title">Agrega una Comida</h4>
            </div>
        </div>
        {% include "components/picker_block_meal.html" with meals=meals main_id=main_card.main_id%}
        
        {% with panel_id=main_card.main_id|default:"main-dailyplan-edit" %}
            <div class="content-panel content-panel--main card-detail-block main">
                {% include "components/detail_tabs_meals.html" with panel_id=panel_id show_desktop_edit_tab=True show_mobile_edit_tab=True %}
                {% include "components/detail_panels_meals.html" with panel_id=panel_id menu=main_card.menu items=main_card.table.items dailyplan_id=main_card.main_id show_desktop_edit_panel=True show_mobile_edit_panel=True %}
            </div>
        {% endwith %}
    </div>

</div>
