<div class="entity-card entity-card--food card food-child-card {{ food_card_class }}">
  <div class="entity-card__main card-main">
    <div class="entity-card__title card-title">
      {% include "components/card_child_title.html" with titulo=child_card.titulo %}
    </div>

    <div class="entity-card__kpi card-kpi">
      {% include "components/dash_kpi.html" with kpis=child_card.kpis %}
    </div>
  </div>

  <div class="entity-card__footer card-bottom">
    <div class="entity-card__metadata card-metadata">
      {% include "components/card_child_metadata.html" with metadata=child_card.metadata %}
    </div>

    <div class="entity-card__actions card-actions">
      {% include "components/card_actions.html" with actions=child_card.actions %}
    </div>
  </div>
</div>
