<div data-page="dpm-detail" class="main-detail">
 
    <div class="card-title main">
        {% include "components/card_main_title_edit_meal.html" with titulo=main_card.titulo main_id=main_card.main_id %}
    </div>  
    

    <!-- KPI ========================================= -->
    {% if main_card.items %}
    <div class="page-kpi">
        <h3>Información Nutricional</h3>
        <div class="card-kpi main">
            {% include "components/dash_kpi.html" with kpis=main_card.kpis %}
        </div>
    </div>
    {% endif %}



    <!-- MEALS TABLE ========================================= -->
    {% if main_card.items %}
    <div class="detail-section">
        <div class="title-section-panels">
            <h3>Tabla de comparación entre alimentos</h3>
            <div
                class="add-title js-picker-toggle"
                role="button"
                tabindex="0"
                aria-expanded="false"
                aria-controls="dpm-picker-section"
            >
                <i data-lucide="plus" class="add-row-icon"></i>
                <i data-lucide="carrot" class="add-row-icon"></i>
                <h4 id="food-form-title">Agrega un Alimento</h4>
            </div>
        </div>
        {% include "components/picker_block_dpm_food.html" with main_id=main_card.main_id %}
        {% with panel_id=main_card.main_id|default:"main-dpm-edit" %}
            <div class="content-panel content-panel--main card-detail-block main">
                {% include "components/detail_tabs_foods_main_detail.html" with panel_id=panel_id show_desktop_edit_tab=True show_mobile_edit_tab=True %}
                {% include "components/detail_panels_foods.html" with panel_id=panel_id foods=main_card.foods_aggregation items=main_card.table.items nutrition_grid_template="components/grid_foods.html" edit_grid_template="components/grid_foods_edit.html" main_id=main_card.main_id show_mobile_edit_panel=True %}
            </div>
        {% endwith %}
    </div>

    {% endif %}



</div>
