<div id="card-menu-{{ panel_id }}" class="card-menu">
    {% if menu.uses_detail_links %}
        {% include "components/grid_calendarized_meals_menu.html" with meals=menu.meals %}
    {% elif calendarized_day %}
        {% include "components/grid_calendarized_meals_menu.html" with meals=calendarized_meals %}
    {% else %}
        {% include "components/grid_meals_menu.html" with menu=menu %}
    {% endif %}
</div>

<div id="card-grid-meals-{{ panel_id }}" class="card-table-meals">
    {% include "components/grid_meals.html" with items=items %}
</div>

{% if show_desktop_edit_panel %}
<div id="card-grid-meals-edit-{{ panel_id }}" class="card-table-meals">
    {% include "components/grid_meals_edit.html" with items=items dailyplan_id=dailyplan_id %}
</div>
{% endif %}

<div id="card-grid-calories-{{ panel_id }}" class="card-table-meals-mobile">
    {% include "components/grid_meals_mobile_calories.html" with items=items %}
</div>

<div id="card-grid-macros-{{ panel_id }}" class="card-table-meals-mobile">
    {% include "components/grid_meals_mobile_macros.html" with items=items %}
</div>

<div id="card-grid-alloc-{{ panel_id }}" class="card-table-meals-mobile">
    {% include "components/grid_meals_mobile_alloc.html" with items=items %}
</div>

{% if show_mobile_edit_panel %}
<div id="card-grid-edit-mobile-{{ panel_id }}" class="card-table-meals-mobile">
    {% include "components/grid_meals_mobile_edit.html" with items=items dailyplan_id=dailyplan_id %}
</div>
{% endif %}
