<div class="card-detail-tabs card-detail-tabs--desktop block-desplegar-tabla block-card-desplegar">
    <div class="btn-desplegar is-active" data-target="#card-grid-dailyplan-foods-table-{{ panel_id }}">
        <p>Tabla Alimentos</p>
    </div>
</div>

<div class="card-detail-tabs-mobile">
    <button
        type="button"
        class="btn-desplegar-mobile is-active"
        data-target="#card-grid-dailyplan-foods-qty-{{ panel_id }}"
    >
        Alimentos
    </button>

    <button
        type="button"
        class="btn-desplegar-mobile"
        data-target="#card-grid-dailyplan-foods-macros-{{ panel_id }}"
    >
        Macros
    </button>

    <button
        type="button"
        class="btn-desplegar-mobile"
        data-target="#card-grid-dailyplan-foods-alloc-{{ panel_id }}"
    >
        Alloc
    </button>
</div>
