<div class="panel-tabs panel-tabs--desktop card-detail-tabs card-detail-tabs--desktop block-desplegar-tabla block-card-desplegar">

    {% if not foods_nutrition_only_desktop and not hide_desktop_foods_aggregation_tab %}
    <div class="panel-tab btn-desplegar {% if not show_hide_tab %}is-active{% endif %}" data-target="#card-menu-{{ panel_id }}">
        <p>Alimentos</p>
    </div>

    <div class="panel-tab btn-desplegar" data-target="#card-grid-foods-{{ panel_id }}">
        <p>Tabla Alimentos</p>
    </div>
    {% else %}
    <div class="panel-tab btn-desplegar {% if not show_hide_tab %}is-active{% endif %}" data-target="#card-grid-foods-{{ panel_id }}">
        <p>Tabla Alimentos</p>
    </div>
    {% endif %}

</div>

<div class="panel-tabs panel-tabs--mobile card-detail-tabs-mobile">

    <button
        type="button"
        class="panel-tab btn-desplegar-mobile {% if not show_hide_tab %}is-active{% endif %}"
        data-target="#card-grid-qty-{{ panel_id }}"
    >
        Alimentos
    </button>

    <button
        type="button"
        class="panel-tab btn-desplegar-mobile"
        data-target="#card-grid-macros-{{ panel_id }}"
    >
        Macros
    </button>

    <button
        type="button"
        class="panel-tab btn-desplegar-mobile"
        data-target="#card-grid-alloc-{{ panel_id }}"
    >
        Alloc
    </button>

    {% if show_mobile_edit_tab %}
    <button
        type="button"
        class="panel-tab btn-desplegar-mobile"
        data-target="#card-grid-edit-mobile-{{ panel_id }}"
    >
        <i data-lucide="pencil" class="tab-icon-edit"></i>
    </button>
    {% endif %}
</div>
