<div class="data-grid data-grid--mobile-macros">

    <div class="data-grid-header data-grid-header--mobile-macros">
        <div class="data-grid-col data-grid-col--name">Comidas</div>
        <div class="data-grid-col data-grid-col--kcal">Kcal</div>
        <div class="data-grid-col data-grid-col--macro">P</div>
        <div class="data-grid-col data-grid-col--macro">C</div>
        <div class="data-grid-col data-grid-col--macro">F</div>
    </div>

    {% for row in items %}
        <div class="data-grid-row data-grid-row--mobile-macros">
            <div class="data-grid-cell data-grid-cell--name data-grid-cell--meal-identity">
                {% include "components/grid_meal_identity.html" with meal_name=row.rel.name %}
            </div>

            <div class="data-grid-cell data-grid-cell--kcal">
                {% include "components/grid_kcal_share_item.html" with value=row.rel.kcal_share kcal=row.rel.total_kcal %}
            </div>

            <div class="data-grid-cell data-grid-cell--macro">
                {{ row.rel.g_protein|floatformat:1 }}
            </div>

            <div class="data-grid-cell data-grid-cell--macro">
                {{ row.rel.g_carbs|floatformat:1 }}
            </div>

            <div class="data-grid-cell data-grid-cell--macro">
                {{ row.rel.g_fat|floatformat:1 }}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No meals added yet.
        </div>
    {% endfor %}

</div>
