<div class="data-grid data-grid--menu">

    <div class="data-grid-header data-grid-header--menu">
        <div class="data-grid-col data-grid-col--meal">Comidas</div>
        <div class="data-grid-col data-grid-col--foods">Alimentos</div>
    </div>

    {% for meal in menu.meals %}
        <div class="data-grid-row data-grid-row--menu">
            <div class="data-grid-cell data-grid-cell--meal">
                <div class="data-grid-meal-title">
                    <i data-lucide="utensils" class="data-grid-meal-icon meal"></i>
                    <span class="data-grid-meal-name">{{ meal.meal_name }}</span>
                </div>

                {% if meal.hour %}
                    <div class="data-grid-meal-hour">
                        {{ meal.hour }}
                    </div>
                {% endif %}
            </div>

            <div class="data-grid-cell data-grid-cell--foods">
                {{ meal.foods|join:", " }}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No meals yet.
        </div>
    {% endfor %}

</div>