<div class="data-grid data-grid--foods">

    <div class="data-grid-header data-grid-header--foods">
        <div class="data-grid-col data-grid-col--name">Alimentos</div>
        <div class="data-grid-col data-grid-col--qty">Qty</div>
        <div class="data-grid-col data-grid-col--kcal data-grid-group-start">Cal</div>
        <div class="data-grid-col data-grid-col--kcal-share">% Cal</div>
        <div class="data-grid-col data-grid-col--macro data-grid-group-start">P</div>
        <div class="data-grid-col data-grid-col--macro">C</div>
        <div class="data-grid-col data-grid-col--macro">F</div>
        <div class="data-grid-col data-grid-col--kcal-distribution">P|C|F%</div>
        <div class="data-grid-alloc-group data-grid-alloc-group--header data-grid-group-start">
            <div class="data-grid-col data-grid-col--alloc">P%</div>
            <div class="data-grid-col data-grid-col--alloc">C%</div>
            <div class="data-grid-col data-grid-col--alloc">F%</div>
        </div>
    </div>

    {% for row in items %}
        <div class="data-grid-row data-grid-row--foods">

            <div class="data-grid-cell data-grid-cell--name">
                {% if program_context_query %}
                    <a
                        href="{% url 'food_detail' row.child.id %}?{{ program_context_query }}&mealfood={{ row.rel.id }}"
                        class="table-action-link table-action-link--name"
                    >{{ row.rel.name }}</a>
                {% else %}
                    {{ row.rel.name }}
                {% endif %}
            </div>

            <div class="data-grid-cell data-grid-cell--qty">
                {{ row.rel.quantity|floatformat:0 }} {{ row.rel.quantity_unit }}
            </div>

            <div class="data-grid-cell data-grid-cell--kcal data-grid-group-start">
                {{ row.rel.total_kcal|floatformat:0 }}
            </div>

            <div class="data-grid-cell data-grid-cell--kcal-share">
                {% include "components/grid_alloc_item.html" with value=row.rel.kcal_share kind="kcal" %}
            </div>

            <div class="data-grid-cell data-grid-cell--macro data-grid-group-start">
                {{ row.rel.g_protein|floatformat:1 }}
            </div>

            <div class="data-grid-cell data-grid-cell--macro">
                {{ row.rel.g_carbs|floatformat:1 }}
            </div>

            <div class="data-grid-cell data-grid-cell--macro">
                {{ row.rel.g_fat|floatformat:1 }}
            </div>

            <div class="data-grid-cell data-grid-cell--kcal-distribution">
                {% include "components/macro_kcal_distribution.html" with protein=row.rel.kcal_distribution.protein carbs=row.rel.kcal_distribution.carbs fat=row.rel.kcal_distribution.fat %}
            </div>

            <div class="data-grid-alloc-group data-grid-group-start">
                <div class="data-grid-cell data-grid-cell--alloc">{% include "components/grid_alloc_item.html" with value=row.rel.alloc_protein kind="protein" %}</div>
                <div class="data-grid-cell data-grid-cell--alloc">{% include "components/grid_alloc_item.html" with value=row.rel.alloc_carbs kind="carbs" %}</div>
                <div class="data-grid-cell data-grid-cell--alloc">{% include "components/grid_alloc_item.html" with value=row.rel.alloc_fat kind="fat" %}</div>
            </div>

        </div>
    {% empty %}
        <div class="data-grid-empty">
            No foods added yet.
        </div>
    {% endfor %}

</div>
