<div class="data-grid data-grid--mobile-foods-alloc">

    <div class="data-grid-header data-grid-header--mobile-foods-alloc">
        <div class="data-grid-col data-grid-col--name">Alimentos</div>
        <div class="data-grid-col data-grid-col--alloc">P%</div>
        <div class="data-grid-col data-grid-col--alloc">C%</div>
        <div class="data-grid-col data-grid-col--alloc">F%</div>
    </div>

    {% for row in items %}
        <div class="data-grid-row data-grid-row--mobile-foods-alloc">
            <div class="data-grid-cell data-grid-cell--name">
                {% if program_context_query %}
                    <a
                        href="{% url 'food_detail' row.child.id %}?{{ program_context_query }}&mealfood={{ row.rel.id }}"
                        class="table-action-link table-action-link--name"
                    >{{ row.rel.name }}</a>
                {% else %}
                    {{ row.rel.name }}
                {% endif %}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_protein kind="protein" %}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_carbs kind="carbs" %}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_fat kind="fat" %}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No foods added yet.
        </div>
    {% endfor %}

</div>