<div class="data-grid data-grid--menu">

    <div class="data-grid-header data-grid-header--menu">
        <div class="data-grid-col data-grid-col--meal">Comidas</div>
        <div class="data-grid-col data-grid-col--foods">Alimentos</div>
    </div>

    {% for meal in menu.meals %}
        <div class="data-grid-row data-grid-row--menu">
            <div class="data-grid-cell data-grid-cell--meal">
                <button
                    type="button"
                    class="data-grid-meal-title data-grid-meal-title--action"
                    {% if meal.target_id %}data-dailyplan-meal-target="{{ meal.target_id }}"{% endif %}
                >
                    {% include "components/grid_meal_identity.html" with meal_name=meal.meal_name %}
                </button>

                {% if meal.hour %}
                    <div class="data-grid-meal-hour">
                        {{ meal.hour }}
                    </div>
                {% endif %}
            </div>

            <div class="data-grid-cell data-grid-cell--foods">
                {{ meal.foods|join:", " }}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No meals yet.
        </div>
    {% endfor %}

</div>
