<div class="data-grid data-grid--mobile-alloc">

    <div class="data-grid-header data-grid-header--mobile-alloc">
        <div class="data-grid-col data-grid-col--name">Comidas</div>
        <div class="data-grid-col data-grid-col--alloc">P%</div>
        <div class="data-grid-col data-grid-col--alloc">C%</div>
        <div class="data-grid-col data-grid-col--alloc">F%</div>
    </div>

    {% for row in items %}
        <div class="data-grid-row data-grid-row--mobile-alloc">
            <div class="data-grid-cell data-grid-cell--name">
                {{ row.rel.name }}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_protein kind="protein" %}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_carbs kind="carbs" %}
            </div>

            <div class="data-grid-cell data-grid-cell--alloc">
                {% include "components/grid_alloc_item.html" with value=row.rel.alloc_fat kind="fat" %}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No meals added yet.
        </div>
    {% endfor %}

</div>