<div class="data-grid data-grid--mobile-foods-qty">

    <div class="data-grid-header data-grid-header--mobile-foods-qty">
        <div class="data-grid-col data-grid-col--name">Alimentos</div>
        <div class="data-grid-col data-grid-col--qty">Qty</div>
    </div>

    {% for row in items %}
        <div class="data-grid-row data-grid-row--mobile-foods-qty">
            <div class="data-grid-cell data-grid-cell--name">
                {% if program_context_query %}
                    <a
                        href="{% url 'food_detail' row.child.id %}?{{ program_context_query }}&mealfood={{ row.rel.id }}"
                        class="table-action-link table-action-link--name"
                    >{{ row.rel.name }}</a>
                {% else %}
                    {{ row.rel.name }}
                {% endif %}
            </div>

            <div class="data-grid-cell data-grid-cell--qty">
                {{ row.rel.quantity|floatformat:0 }} {{ row.rel.quantity_unit }}
            </div>
        </div>
    {% empty %}
        <div class="data-grid-empty">
            No foods added yet.
        </div>
    {% endfor %}

</div>