<div class="actions-comp">

  {# DESKTOP #}
  <div class="actions actions-desktop">

      {% for action in header.desktop_inline_actions %}
          {% if action.method == "get" %}
              <a
                  href="{{ action.url }}"
                  class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                  title="{{ action.label }}"
                  aria-label="{{ action.label }}"
              >
                  <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
              </a>

          {% elif action.method == "post" %}
              <form action="{{ action.url }}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button
                      type="submit"
                      name="{{ action.key }}"
                      value="1"
                      class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                      title="{{ action.label }}"
                      aria-label="{{ action.label }}"
                      {% if action.disabled %}disabled{% endif %}
                  >
                      <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
                  </button>
              </form>
          {% elif action.method == "button" %}
              <button
                  type="button"
                  class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                  title="{{ action.label }}"
                  aria-label="{{ action.label }}"
                  {% if action.disabled %}disabled{% endif %}
              >
                  <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
              </button>
          {% endif %}
      {% endfor %}

      {% if header.desktop_menu_actions %}
          <div class="overflow-menu overflow-menu-desktop">

              <button class="overflow-btn" type="button" aria-label="Más acciones" title="Más acciones">
                  <i data-lucide="more-horizontal" class="more-horizontal-icon"></i>
              </button>

              <div class="overflow-dropdown">
                  {% for action in header.desktop_menu_actions %}
                      {% if action.method == "get" %}
                          <a href="{{ action.url }}" class="overflow-action {{ action.extra_class }}">
                              <i data-lucide="{{ action.icon }}" class="overflow-dropdown-icons"></i>
                              <span>{{ action.label }}</span>
                          </a>
                      {% elif action.method == "post" %}
                          <form action="{{ action.url }}" method="post">
                              {% csrf_token %}
                              <button
                                  type="submit"
                                  name="{{ action.key }}"
                                  value="1"
                                  class="overflow-action"
                              >
                                  <i data-lucide="{{ action.icon }}"  class="overflow-dropdown-icons"></i>
                                  <span>{{ action.label }}</span>
                              </button>
                          </form>
                      {% elif action.method == "button" %}
                          <button
                              type="button"
                              class="overflow-action {{ action.extra_class }}"
                              {% if action.disabled %}disabled{% endif %}
                          >
                              <i data-lucide="{{ action.icon }}" class="overflow-dropdown-icons"></i>
                              <span>{{ action.label }}</span>
                          </button>
                      {% endif %}
                  {% endfor %}
              </div>

          </div>
      {% endif %}

  </div>


  {# MOBILE #}
  <div class="actions actions-mobile">

      {% for action in header.mobile_inline_actions %}
          {% if action.method == "get" %}
              <a
                  href="{{ action.url }}"
                  class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                  title="{{ action.label }}"
                  aria-label="{{ action.label }}"
              >
                  <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
              </a>

          {% elif action.method == "post" %}
              <form action="{{ action.url }}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button
                      type="submit"
                      name="{{ action.key }}"
                      value="1"
                      class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                      title="{{ action.label }}"
                      aria-label="{{ action.label }}"
                      {% if action.disabled %}disabled{% endif %}
                  >
                      <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
                  </button>
              </form>
          {% elif action.method == "button" %}
              <button
                  type="button"
                  class="action-icon-btn primary-action {% if action.is_back %}action-back{% endif %} {{ action.extra_class }}"
                  title="{{ action.label }}"
                  aria-label="{{ action.label }}"
                  {% if action.disabled %}disabled{% endif %}
              >
                  <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
              </button>
          {% endif %}
      {% endfor %}

      {% if header.mobile_menu_actions %}
          <div class="overflow-menu overflow-menu-mobile">

              <button class="overflow-btn" type="button" aria-label="Más acciones" title="Más acciones">
                  <i data-lucide="more-horizontal" class="more-horizontal-icon"></i>
              </button>

              <div class="overflow-dropdown">
                  {% for action in header.mobile_menu_actions %}
                      {% if action.method == "get" %}
                          <a href="{{ action.url }}" class="overflow-action {{ action.extra_class }}">
                              <i data-lucide="{{ action.icon }}"  class="overflow-dropdown-icons"></i>
                              <span>{{ action.label }}</span>
                          </a>
                      {% elif action.method == "post" %}
                          <form action="{{ action.url }}" method="post">
                              {% csrf_token %}
                              <button
                                  type="submit"
                                  name="{{ action.key }}"
                                  value="1"
                                  class="overflow-action"
                              >
                                  <i data-lucide="{{ action.icon }}"  class="overflow-dropdown-icons"></i>
                                  <span>{{ action.label }}</span>
                              </button>
                          </form>
                      {% elif action.method == "button" %}
                          <button
                              type="button"
                              class="overflow-action {{ action.extra_class }}"
                              {% if action.disabled %}disabled{% endif %}
                          >
                              <i data-lucide="{{ action.icon }}" class="overflow-dropdown-icons"></i>
                              <span>{{ action.label }}</span>
                          </button>
                      {% endif %}
                  {% endfor %}
              </div>

          </div>
      {% endif %}

  </div>

</div>
