<div class="page-header">

    <div class="page-header-left">

        {% if vm.ui.is_inside %}
            <a href="{{ vm.ui.back_url }}" class="back-header-icon">
                <i data-lucide="chevron-left" class="menu-icon"></i>
            </a>
        {% else %}
            <button class="mobile-menu-btn" onclick="toggleSidebar()">
                <i data-lucide="panel-right" class="menu-icon"></i>
            </button>
        {% endif %}
    
        <div class="label-entity header label-entity--{{ vm.ui.nav_root }}">
            <i data-lucide="{{ vm.ui.icon }}" class="label-icon"></i>
        </div>
    
        <div class="header-title-mobile truncate">
            <p>{{ vm.ui.title }}</p>
            {% if vm.ui.root %}
                <p class="subtitle">{{ vm.ui.root }}</p>
            {% endif %}
        </div>
    
        <div class="header-breadcrumbs">
            {% include "components/header_breadcrumbs.html" with breadcrumb=vm.ui.breadcrumb %}
        </div>
    
    </div>

    <div class="page-header-right">
        {% if header.actions %}
            {% include "components/header_actions.html" with header=header %}
        {% else %}
            <div class="btn-list-header">
            </div>
        {% endif %}
    </div>

</div>
