{% extends "notas/base.html" %}
{% load static %}

{% block title %}
My Scoope
{% endblock %}
{% block body_class %}page-detail page-header-meta-deferred{% endblock %}

{% block content %}

<div class="page page--detail has-collapsible-panels {% if can_edit_foods %}edit{% endif %}" data-page="meal-detail">

    {% if can_edit_foods %}
      {% include "components/card_main_meal_edit.html" with main_card=vm.content.main_card %}
    {% else %}
      {% include "components/card_main_meal.html" with main_card=vm.content.main_card %}
    {% endif %}
  
</div>

<script src="{% static 'notas/js/mealfood_sortable.js' %}"></script>

{% endblock %}
