{% extends "notas/base.html" %}
{% block title %}Create Meal{% endblock %}
{% block content %}


<!-- ======== PAGE HEADER ===================================== -->           


<div class="page page--detail page-modal">

  <div class="wrap-page-modal">

    <div class="label-entity label-entity--meal page-modal }}">
      Meal
    </div>

    <div class="label-fork">#variante</div>

    <h2>Comparte: {{ meal.name }}</h2>

    <form method="post" action="{% url 'meal_share' meal.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn-block">
        <a href="{% url 'meal_detail' meal.pk %}" class="btn-cancel-create">Cancelar</a>
        <button type="submit"  class="btn-continue">Compartir</button>
      </div>
    </form>

  </div>
  
</div>
<!-- FIN ============================================== -->

{% endblock %}
