{% extends "notas/base.html" %}
{% block title %}Daily Plans{% endblock %}
{% block content %}

<div class="page list">
  {% include "components/list_page_header.html" %}

  {% if vm.content.list_mode == "reorder" %}
    {% include "components/list_panel_dailyplans_reorder.html" with children=vm.content.child_cards %}
  {% elif vm.content.list_mode == "delete" %}
    {% include "components/list_panel_dailyplans_delete.html" with children=vm.content.child_cards %}
  {% else %}
    {% for child in vm.content.child_cards %}
      {% include "components//card_child_dailyplan.html" with child_card=child %}
    {% empty %}
      <div>
        <p>No tienes planes diarios aun, puedes explorar Planes de otros usuarios, o crear un nuevo Plan Diario </p>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% load static %}
<script src="{% static 'notas/js/collapse_cards.js' %}"></script>
<script src="{% static 'notas/js/list_panel_modes.js' %}"></script>

{% endblock %}
