{% extends "notas/base.html" %}
{% load static %}

{% block title %}{{ vm.content.proposal_review.payload.program.name }} · Propuesta{% endblock %}
{% block body_class %}page-detail page-header-meta-deferred{% endblock %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'notas/css/components/programs.css' %}?v=20260924-1">
<link rel="stylesheet" href="{% static 'notas/css/components/program_week_tabs.css' %}?v=20260924-1">
<link rel="stylesheet" href="{% static 'notas/css/components/program_proposal_review.css' %}?v=20260924-1">
{% endblock %}

{% block content %}
<div class="page page--detail has-collapsible-panels proposal-detail-page">
  <section class="proposal-review-shell">
    {% include "notas/proposals/partials/review_program_objectives.html" with program=vm.content.proposal_review.payload.program %}
    {% include "notas/proposals/partials/review_create_program.html" %}
  </section>
</div>

<script src="{% static 'notas/js/program_metric_chart.js' %}?v=20260924-1"></script>
<script src="{% static 'notas/js/program_week_tabs.js' %}"></script>
<script type="module" src="{% static 'notas/js/program_slot_picker.js' %}"></script>
{% endblock %}
