hr {
  border: none;
  width: 100%;
  border-top: 1px solid var(--panel-row-separator);
  margin-top: 20px;
  margin-bottom: 20px
}

ul { padding-left: 20px; }
li { margin-bottom: 0px; }

p.message {
  background: rgb(238, 255, 155);
  color: black;
  border-left: 4px solid #c1c1bd;
  padding: 10px 14px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.tooltip{
  position:relative;
}

.tooltip-text{
  position:absolute;
  bottom:130%;
  left:50%;
  transform:translateX(-50%);

  background:#1f1f1f;
  color:white;

  font-size:12px;
  padding:4px 8px;
  border-radius:5px;

  white-space:nowrap;

  opacity:0;
  pointer-events:none;
  transition:opacity 0.15s ease;

  z-index: var(--z-sticky);
}

.tooltip:hover .tooltip-text{
  opacity:1;
}

.tooltip-text::after{
  content:"";
  position:absolute;

  top:100%;
  left:50%;
  transform:translateX(-50%);

  border-width:5px;
  border-style:solid;
  border-color:#1f1f1f transparent transparent transparent;
}

@media (max-width:768px){
  .tooltip-text{
    display:none;
  }
}